.containerRegister {
    width: 400px;
    margin: 0 auto 0 auto;
    height: 100vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-top: 2rem;
}

.textsRegister {
    font-size: 1.3rem;
    width: 350px;
    margin: 0 auto;
}

.inputsRegister {
    margin-top: 0.7rem;
    display: flex;
    flex-direction: column;
}

.buttonRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 40px;
    background: #000;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 30px auto 0 auto;
    cursor: pointer;
    transition: opacity 0.4s;
}

.dontHaveAccount {
    font-size: 1rem;
    width: 330px;
    margin: 20px auto 0 auto;
    display: flex;
  justify-content: center;

}

.spanLogin{
    color: #000;
    font-weight: 900;
}