.container {
    width: 100%;
    height: 65vh;

    padding: 20px 20px;
    
    display: flex;
}

.formProfile {
    width: 77.8%;
    display: flex;
    flex-direction: row;
    position: absolute;
}

.photoProfile {
    width: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.photoProfile input {
    opacity: 0;
    width: 250px;
    height: 250px;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    z-index: 10;
}

.iconUploadProfile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    color: #fff;
    font-size: 1rem;
    position: absolute;
}

.photoProfile svg {
    color: #fff;
    font-size: 4rem;
}

.formProfile img {
    left: 1rem;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.textProfile label {
    margin-top: 10px;
}

.textProfile {
    display: flex;
    flex-direction: column;
}

.textProfile input {
    width: 400px;
    height: 35px;
}

.textProfile button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: #000;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 30px auto 0 auto;
    cursor: pointer;
    transition: opacity 0.4s;
}

.buttonSignOut {
    width: 200px;
    color: #fff;
    height: 30px;
    font-weight: 600;
    background: rgb(223, 28, 28);
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    transition: opacity 0.4s;
    margin: 200px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}