.container {
    background: #F9F9F9;
    width: 95%;
    margin: 0 auto;
    border-radius: 10px;
    height: 100%;
}

.formProfile {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.photoProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 22%;
    height: 300px;
    position: relative;
}

.photoProfile input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}

.iconUploadProfile {
    color: #fff;
    font-size: 3rem;
    position: absolute;
}

.photoProfile svg {
    color: #fff;
}

.textProfile {
    padding-top: 1rem;
}

.formProfile img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.inputTextProfile {
    min-width: 300px;
    max-width: 360px;
    height: 40px;
    border: 0.6px solid #000;
    border-radius: 5px;
    padding-left: 10px;
    margin: 10px 0;
    outline: none;
    font-size: 1rem;
}

.textProfile label {
    margin-top: 10px;
    color: #6c63ff;
    font-weight: 700;
    font-size: 1.2rem;
}

.textProfile {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.textProfile button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 40px; 
    background: #6c63ff;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    transition: opacity 0.4s;
    margin: 1rem auto;
}

.buttonSignOut {
    width: 150px;
    color: #fff;
    height: 30px;
    font-weight: 600;
    background: rgb(223, 28, 28);
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    transition: opacity 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1rem;
    cursor: pointer;
    z-index: 9;
}

@media screen and (max-width: 400px) {
    .buttonSignOut {
        width: 60px;
    }

    .inputTextProfile {
        width: 300px;
    }
}
